<div class="container" style="width: 100%;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="text-align: center;">

            <h1>Attenzione: si &eacute; verificato un errore</h1>
            <p>La pagina richiesta non esiste o non &eacute; al momento disponibile. Contattare l'amministratore del sistema per ulteriori informazioni.</p>
            <img src="{$unavailableIcon}">
<!--            {if isset($origin)}
            <p>
                {echo $origin}
            </p>
            {/if}-->
        </div>

        <div class="col-md-2"></div>
    </div>
</div>