RewriteEngine On
#RewriteRule tsnwtest\/public\/incassi\/autoimg\/search\.png$ tsnwtest/public/img/search.png [L]
#RewriteRule public([a-zA-Z0-9\/]*)autoimg([a-zA-Z0-9\/]*)\.(png|jpg|gif)$ public/img$2.$3 [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !=/favicon.ico
RewriteRule ^([a-zA-Z0-9\/\-_=\s>]+)\.?([a-zA-Z]+)?$ index.php?url=$1&extension=$2 [QSA,L]

# Abilita l'Expires ed imposta il default to 0
ExpiresActive On
ExpiresDefault A0
# Imposta la cache delle immagini a 1 giorno
<FilesMatch "\.(png|gif|jpg)$">
ExpiresDefault A86400
Header append Cache-Control "proxy-revalidate"
</FilesMatch>
# Imposta la cache dei js e dei css a 1 ora
<FilesMatch "\.(css|js|map)$">
ExpiresDefault A3600
Header append Cache-Control "proxy-revalidate"
</FilesMatch>
<FilesMatch "\.(xml|txt|html)$">
ExpiresDefault A7200
Header append Cache-Control "proxy-revalidate"
</FilesMatch>
# Forza la disabilitazione della cache per le risorse dinamiche
<FilesMatch "\.(php|cgi|pl|htm)$">
ExpiresActive Off
Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
Header set Pragma "no-cache"
</FilesMatch>
#php_flag display_errors off
#php_value error_reporting 6143