<div class="container">
    <div class="topcontainer">
        <header class="page-header row hidden-sm hidden-xs">
            <h1>Wolf framework</h1>
        </header>
        <h1 class="visible-sm visible-xs">Benvenuto nei nuovi sistemi TopSource</h1>
        <div class="row" style="height: 30px;"></div>
        <div class="row" style="text-align: center; font: 20px cursive;">
            <div class="col-md-4 col-xs-6">
                <a href="./progetti">
                    <img src="{echo $progettiIcon}" style="max-width: 150px; max-height: 150px;">
                </a><br>
                Gestione progetti
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="./incassi">
                    <img src="{echo $incassiIcon}" style="max-width: 150px; max-height: 150px;">
                </a><br>
                Gestione incassi e fatture
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="./sonosuperfigo">
                    <img src="{echo $sonosuperfigoIcon}" style="max-width: 150px; max-height: 150px;">
                </a><br>
                Pannello amministrazione
            </div>
        </div>
        <div class="row" style="height: 60px;"></div>
        <div class="row" style="text-align: center; font: 20px cursive;">
            <div class="col-md-4 col-xs-6">
                <a href="./tmk">
                    <img src="{echo $tmkIcon}" style="max-width: 150px; max-height: 150px;">
                </a><br>
                Telemarketing
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="./backoffice">
                    <img src="{echo $backofficeIcon}" style="max-width: 150px; max-height: 150px;">
                </a><br>
                Backoffice
            </div>
            <div class="col-md-4 col-xs-6">
                <a href="./vend">
                    <img src="{echo $vendIcon}" style="max-width: 150px; max-height: 150px;">
                </a><br>
                Vendite
            </div>
        </div>
        <div class="row" style="height: 60px;"></div>
        <div class="row" style="text-align: center; font: 20px cursive;">
            <div class="col-md-4 col-xs-6">
                <a href="./mkt">
                    <img src="{echo $mktIcon}" style="max-width: 150px; max-height: 150px;">
                </a><br>
                Marketing
            </div>
            <div class="col-md-4 col-xs-4">
                <!--                    <a href="./backoffice">
                                        <img src="{echo $backofficeIcon}" style="max-width: 150px; max-height: 150px;">
                                    </a><br>
                                    Backoffice-->
            </div>
            <div class="col-md-4 col-xs-4">
                <!--                    <a href="./vend">
                                        <img src="{echo $vendIcon}" style="max-width: 150px; max-height: 150px;">
                                    </a><br>
                                    Vendite-->
            </div>
        </div>
    </div>
</div>