<div>
    <button class="cn-button" id="cn-button" ng-click="openMenu()">Menu</button> 
    <div class="cn-wrapper" style="border-radius: 50%; overflow: hidden; bottom: -13em;">
        <ul>
            <li style="left: 50%; top: 50%; margin-top: -1.3em; margin-left: -10em; overflow: hidden; transform: rotate(-10deg) skew(50deg);">
                <a href="#" style="transform: skew(-50deg) rotate(-70deg) scale(1); border-radius: 50%; text-align: center; padding-top: 2em;">
                    <span class="icon-picture">

                    </span>
                </a>
            </li>
            <li style="left: 50%; top: 50%; margin-top: -1.3em; margin-left: -10em; overflow: hidden; transform: rotate(30deg) skew(50deg);">
                <a href="#" class="active" style="transform: skew(-50deg) rotate(-70deg) scale(1); border-radius: 50%; text-align: center; padding-top: 2em;">
                    <span class="icon-headphones">
                        giovanni
                    </span>
                </a>
            </li>
            <li style="left: 50%; top: 50%; margin-top: -1.3em; margin-left: -10em; overflow: hidden; transform: rotate(70deg) skew(50deg);">
                <a href="#" style="transform: skew(-50deg) rotate(-70deg) scale(1); border-radius: 50%; text-align: center; padding-top: 2em;">
                    <span class="icon-home">
giovanni
                    </span> 
                </a>
            </li>
            <li style="left: 50%; top: 50%; margin-top: -1.3em; margin-left: -10em; overflow: hidden; transform: rotate(110deg) skew(50deg);">
                <a href="#" style="transform: skew(-50deg) rotate(-70deg) scale(1); border-radius: 50%; text-align: center; padding-top: 2em;">
                    <span class="icon-facetime-video">
giovanni
                    </span>
                </a>
            </li>
            <li style="left: 50%; top: 50%; margin-top: -1.3em; margin-left: -10em; overflow: hidden; transform: rotate(150deg) skew(50deg);">
                <a href="#" style="transform: skew(-50deg) rotate(-70deg) scale(1); border-radius: 50%; text-align: center; padding-top: 2em;">
                    <span class="icon-envelope-alt">
giovanni
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>