.log-general-tabella-log>thead{
    font-weight: bold;
}
.log-general-tabella-log>tbody>tr>th,td:first-child {
    width: 120px;
}
.log-general-tabella-log>tbody>tr>th,td:nth-child(2) {
    width: 90px;
}
.log-general-tabella-log>tbody>tr>th,td:nth-child(3) {
    width: 210px;
}
.log-general-tabella-log>tbody>tr>th,td:nth-child(4) {
    width: 180px;
}
.log-general-tabella-log>tbody>tr>th,td:nth-child(5) {
    width: 180px;
}