<div ng-app="AssegnazioneLavoro" id="pagina"> 
    <h2>JOB COVERAGE</h2>
    <div ng-controller="JobController as JCTRL">
        <div class="container" style="width: 100%;">
            <div class="row">
                <div class="col-md-4">
                    <h3>Elenco venditori</h3><br>
                    <div ng-repeat="com in JCTRL.commerciali" >
                        <button type="button" class="btn-success" style="width: auto; margin: 3px;"
                                ng-click="JCTRL.clickOnVendor(com.USERID)"
                                ng-show="!JCTRL.commercialeSelezionato.USERID || JCTRL.commercialeSelezionato.USERID === com.USERID">
                            --__com.NOME +" "+com.COGNOME__-- 
                        </button><br>
                        <div ng-show="JCTRL.commercialeSelezionato.USERID === com.USERID" ng-repeat="loc in JCTRL.assegnazioneCommerciali[com.USERID]" 
                             style="display: inline-block; float: left;">
                            <button type="button" class="btn-warning btn-sm" style="width: auto; margin: 3px;">
                                --__loc.loc+" ("+loc.count+")"__-- 
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="mainContainer">
                    <h3 ng-show="JCTRL.commercialeSelezionato.USERID">Telemarketing associati a --__JCTRL.commercialeSelezionato.NOME+" "+JCTRL.commercialeSelezionato.COGNOME__--</h3>
                    <table ng-show="JCTRL.commercialeSelezionato.USERID" style="width: 100%;">
                        <tr ng-repeat="tmk in JCTRL.tmkAssociati">
                            <td>
                                <div style="width: auto; margin: 3px; display: inline-block; float: left;">
                                    <button type="button" class="btn-success"
                                            ng-click="JCTRL.clickOnTelemarketingAssociato(tmk.USERID)"
                                            >
                                        --__tmk.NOME__-- 
                                    </button>
                                </div>
                                <div ng-if="tmk.LOCS.length" ng-repeat="loc in tmk.LOCS" style="display: inline-block; float: left;">
                                    <button type="button" class="btn-warning btn-sm" style="width: auto; margin: 3px;">
                                        --__loc__-- 
                                    </button>
                                </div>
                                <div style="width: 100%;">&nbsp;</div>
                            </td></tr>
                    </table>
                </div>
                <div class="col-md-4">
                    <h3>Telemarketing Liberi</h3><br>
                    <div ng-repeat="tmk in JCTRL.telemarketing|telemarketing_liberi:JCTRL.associazioni:true">
                        <button type="button" class="btn-success" style="width: auto; margin: 3px;"
                                ng-click="JCTRL.clickOnTelemarketing(tmk.USERID)">
                            --__tmk.NOME +" "+tmk.COGNOME__-- 
                        </button>
                    </div>
                    <div ng-repeat="tmk in JCTRL.telemarketing|telemarketing_liberi:JCTRL.associazioni:false">
                        <button type="button" class="btn-info" style="width: auto; margin: 3px;"
                                ng-click="JCTRL.clickOnTelemarketing(tmk.USERID)">
                            --__tmk.NOME +" "+tmk.COGNOME__-- 
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <maschera titlep="Scelta campagna" sizep="lg" maskid="JCTRL.mascheraCampagna[0]" buttons="Scegli">
            <div class="dimensionatore">
                <form class="form-aligned" novalidate>
                    <fieldset>
                        <legend>Scelta campagna</legend>
                        <p>Scegliere una campagna per procedere alla gestione delle assegnazioni</p>
                        <select style="width: 80%" ng-options="camp.id as camp.exp for camp in JCTRL.campaigns"
                                ng-model="JCTRL.campaign">

                        </select>
                    </fieldset>
                </form>
            </div>
        </maschera>
        <maschera titlep="Associazione --__JCTRL.makeAssociazione.tmkName__-- -> --__JCTRL.makeAssociazione.vendorName__--" 
                  sizep="lg" maskid="JCTRL.mascheraAssocia[0]" buttons="Assegna|Annulla">
            <div class="dimensionatore">
                <form class="form-aligned" novalidate>
                    <fieldset>
                        <legend>Scegli le localit&agrave;</legend>
                        <div>
                            <p>Localit&agrave; non assegnate</p>
                            <div ng-repeat="loc in JCTRL.makeAssociazione.locs|filter:{assigned: false}" 
                                 style="display: inline-block; float: left;">
                                <button type="button" class="btn-warning btn-sm" style="width: auto; margin: 3px;"
                                        ng-click="JCTRL.assegnaLoc(loc.loc)">
                                    --__loc.loc+" ("+loc.count+")"__-- 
                                </button>
                            </div>
                        </div><br><br><br>
                        <div>
                            <p>Localit&agrave; assegnate</p>
                            <div ng-repeat="loc in JCTRL.makeAssociazione.locs|filter:{assigned: true}" 
                                 style="display: inline-block; float: left;">
                                <button type="button" class="btn-warning btn-sm" style="width: auto; margin: 3px;"
                                        ng-click="JCTRL.assegnaLoc(loc.loc)">
                                    --__loc.loc+" ("+loc.count+")"__-- 
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </maschera>
    </div>
</div>
